body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1;
  background-color: rgb(33, 31, 31);
  color: white;
  user-select: none;
  font-family: 'Mulish';
  height: 100%;
  position: relative;
}

.container {
  width: 90%;
}

.form {
  background-color: #490054;
  padding: 20px 30px;
  border-radius: 20px;
  border: 2px solid #7b0000;
  box-shadow: 0px 4px 4px #100000;
  margin: 30px auto 50px auto;
  display: flex;
  align-items: center;
  width: 60%;
  justify-content: space-between;
}

.input {
  width: 40%;
  border-radius: 10px;
  line-height: 1.4;
  padding: 5px 10px;
  border: 2px solid #fff;
  font-size: 18px;
}

.notion {
  background-color: #4a5ef4;
  border-radius: 10px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border: 2px solid #300000;
  color: white;
  box-shadow: 1px -2px 30px 8px rgba(205, 51, 4, 0.2);
  transition: background-color 0.5s, color 0.5s;
}

.notion.note__completed:hover{
  background-color: #33f033;
}

.notion:hover {
  background-color: #1d37f9;
  transition: background-color 0.2s, color 0.5s;
}

.notion_title {
  font-size: 20px;
  max-width: 60%;
}

.notion_complete {
  width: 50px;
  height: 50px;
  background-color: #58e858;
  border-radius: 5px;
  border: 1px solid #09004e;
  transition: border-radius 0.5s;
}

.notion_complete:hover {
  border-radius: 50%;
  transition: border-radius 0.3s;
}

.note__completed {
  background-color: #8ef486;
  color: black;
  box-shadow: 1px -2px 30px 8px rgba(7, 205, 4, 0.2);
  transition: all 0.5s;
}

.notion__body {
  display: flex;
  max-width: 30%;
  align-items: center;
  gap: 20px;
}

.btn-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.btn_clear {
  margin-top: 20px;
  border: 3px solid #3aa107;
  display: flex;
  justify-content: center;
  width: min-content;
  padding: 10px 20px;
  background-color: #1af9a3;
  border-radius: 15px;
  font-size: 16px;
  font-weight: 500;
  transition: all .5s;
  margin-bottom: 30px;
}

.btn_clear:hover{
  transition: all .2s;
  transform: scale(1.1);
}

.notions {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  gap: 10px;
}

.notions__empty {
  position: fixed;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  font-size: 20px;
  width: 100%;
  text-align: center;
}

.cssbuttons-io-button {
  display: flex;
  align-items: center;
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  padding: 0.7em 1.4em 0.7em 1.1em;
  color: white;
  background: #ad5389;
  background: linear-gradient(
    0deg,
    rgb(20, 27, 167) 0%,
    rgb(102, 146, 247) 100%
  );
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
  letter-spacing: 0.05em;
  border-radius: 20em;
}

.cssbuttons-io-button svg {
  margin-right: 6px;
}

.cssbuttons-io-button:hover {
  box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
}

.cssbuttons-io-button:active {
  box-shadow: 0 0.3em 1em -0.5em #14a73e98;
}

.button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
  gap: 2px;
}

.svgIcon {
  width: 12px;
  transition-duration: 0.3s;
}

.svgIcon path {
  fill: white;
}

.button:hover {
  transition-duration: 0.3s;
  background-color: rgb(255, 69, 69);
  align-items: center;
  gap: 0;
}

.bin-top {
  transform-origin: bottom right;
}
.button:hover .bin-top {
  transition-duration: 0.5s;
  transform: rotate(160deg);
}

.footer{
  border-top: 1px solid #ff8000;
  padding: 30px 0;
  width: 100%;
  background-color: #0e0c0c;
  position: sticky;
  text-align: center;
  height: 80px;
  font-size: 20px;
  bottom: 0;
}

@media(max-width: 1024px){
  .form {
    padding: 20px 30px;
    margin: 20px auto 40px auto;
    width: 90%;
  }
  .button {
    width: 40px;
    height: 40px;
  }
  .notion_complete {
    width: 40px;
    height: 40px;
  }
  .notion_title {
    font-size: 16px;
    max-width: 60%;
  }
  .input {
    font-size: 16px;
  }
  .footer{
    padding: 20px 0;
    font-size: 18px;
  }
}

@media (max-width: 768px){
  .notion.note__completed:hover{
    background-color: #58e858;
  }
  
  .notion:hover {
    background-color: #4a5ef4;
  }

  .notion_complete:hover {
    border-radius: 5px;
  }

  .button:hover {
    background-color: rgb(0, 0, 0);
  }

  .button:hover .bin-top {
    transform: rotate(0deg);
  }

  .btn_clear:hover{
    transform: scale(1);
  }
  
}

@media(max-width: 520px){
  .input{
    width: 100%;
  }
  .form {
    flex-direction: column;
    gap: 20px;
    padding: 10px 20px;
    margin: 20px auto 40px auto;
    width: 90%;
  }
  .button {
    width: 30px;
    height: 30px;
  }
  .notion__body{
    max-width: none;
  }
  .notion_complete {
    width: 30px;
    height: 30px;
  }
  .notion_title {
    font-size: 14px;
    max-width: none;
  }
  .input {
    font-size: 16px;
  }
  .footer{
    padding: 15px 0;
    font-size: 16px;
  }
}